html, body
{
  background-color: #fff;
  color: #2e2f30;
  letter-spacing: 0.5px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}
header {
  z-index: 999;
}
footer
{
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
}
